
body{
    background-color: snow;
    font-family: 'Turret Road', cursive;
}





#container{
    display: inline;
    margin: 0px;
    padding: 25px;
  
}



a{
    text-decoration: none;
    color: black;
    font-family: 'Turret Road', cursive;
    font-size: 20px;
    float: left;

}



.time {
    float: right;
    font-size: 20px;
}

#quizcontent{
    text-align: center;
}



#quizprompt{
    text-align: center;
    margin: 80px;
    
}
h1{
    font-family: 'Turret Road', cursive;
    font-size: 40px;
    font-weight: bold;
    

 }
button{
    background-color: mediumpurple;
    color: white;
    font-size: 20px;
    margin: 4px;
    border-radius: 10px;
    
    

}
button:hover{
    transition-duration: 0.4s;
    background-color: violet;

}


h4 {
    font-family: 'Turret Road', cursive;

}
p{
    font-family: 'Orbitron', sans-serif;
font-family: 'Turret Road', cursive;
}
